{% extends 'base.html.twig' %}
{% block title %}
    CourseCategory index
{% endblock %}
{% block body %}
    <div class="flex flex-col pt-20 max-w-8xl mx-auto p-6">
        <section class="mb-8">
            <div class="flex justify-between items-center">
                <h1 class="text-3xl font-bold">
                    Courses Category Management
                </h1>
                <a href="{{ path('app_course_category_new') }}" class="bg-secondary-green text-primary-white px-4 py-2 rounded-lg hover:bg-green-600">
                    Create new category for course
                </a>
            </div>
        </section>
        <table class="w-full mt-6  rounded-lg shadow-lg">
            <thead>
                <tr class="bg-primary-light_white text-left text-primary-dark">
                    <th class="p-4">
                        Id
                    </th>
                    <th class="p-4">
                        Name
                    </th>
                    <th class="p-4">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- Repeat for each course category -->
                {% for course_category in course_categories %}
                    <tr class="border-t border-gray-700">
                        <td class="p-4">
                            {{ course_category.id }}
                        </td>
                        <td class="p-4">
                            {{ course_category.name }}
                        </td>
                        <td class="p-4 flex space-x-4">
                            <a href="{{ path('app_course_category_edit', {'id': course_category.id}) }}" class="text-secondary-orange hover:text-orange-400">
                                Edit
                            </a>
                            <form method="post" action="{{ path('app_course_category_delete', {'id': course_category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course_category.id) }}">
                                <button class="btn text-secondary-red hover:text-red-400">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7" class="text-center text-secondary-red p-4">
                            no records found
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
