<a
    href="{{ path(entity_route, { id: entity.id }) }}" class="bg-primary-light_white mt-6 p-2 rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
    <!-- Image Section -->
    <img
    src="{{ asset('uploads/images/' ~ entity.image) }}" loading="lazy" alt="{{ entity.title }}" class="rounded-lg w-full max-h-[300px] object-cover">

    <!-- Title -->
    <h3 class="text-lg font-bold m-3">
        {{ entity.title }}
    </h3>

    <!-- Category (if exists) -->
    {% if entity.category is defined %}
    <h3 class="text-primary-300 m-3 text-sm">
        {{ entity.category.name }}
    </h3>
    {% endif %}

    <!-- Description -->
    <p class="m-3 mb-6 line-clamp-2">
        {{ entity.description }}
    </p>
</a>
