<a
    href="{{ path('app_course_show', { id: course.id }) }}" class="bg-primary-light_white mt-6 p-2 rounded-lg shadow-lg transform transition duration-300 hover:scale-105">
    <!-- Image Section -->
    <img
    src="{{ asset('uploads/images/' ~ course.image) }}" loading="lazy" alt="{{ course.title }}" class="rounded-lg w-full max-h-[300px] object-cover">
    <!-- Course Title -->
    <h3 class="text-lg font-bold m-3">
        {{ course.title }}
    </h3>
    <!-- Course Category -->
    <h3 class="text-primary-300 m-3 text-sm">
        {{ course.category.name }}
    </h3>
    <!-- Course Description -->
    <p class="m-3 mb-6 line-clamp-2">
        {{ course.description }}
    </p>
</a>
