{% set is_external = is_external|default(false) %}
<div class="p-5">
    <a
        href="{% if is_external %}{{ entity_route }}{% else %}{{ path(entity_route, { id: entity.id }) }}{% endif %}" class="h-full flex flex-col bg-primary-light_white rounded-lg shadow-lg transform transition-transform duration-300 hover:scale-105 hover:shadow-xl overflow-hidden" aria-label="View details of {{ entity.title }}">
        <!-- Image Section -->
        <div class="relative">
            <img
            src="{{ asset('uploads/images/' ~ entity.image) }}" loading="lazy" alt="{{ entity.title }}" class="rounded-lg w-full h-[200px] object-cover">
            <!-- Category -->
            {% if entity.category %}
                <span class="absolute top-2 left-2 bg-primary-blue text-white text-xs px-2 py-1 shadow-md" style="border-radius: 0.25rem;">
                    {{ entity.category.name }}
                </span>
            {% endif %}
        </div>
        <!-- Title -->
        <h3 class="text-xl font-extrabold text-primary-dark mt-4 mb-2 text-ellipsis whitespace-nowrap overflow-hidden px-2">
            {{ entity.title }}
        </h3>
        <!-- Description -->
        <p class="text-gray-600 text-sm line-clamp-3 overflow-hidden text-ellipsis px-2 mb-6">
            {{ entity.description }}
        </p>
    </a>
</div>